# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

draLocaldrafts
node_modules
dist
dist-ssr
\.env
.env.local
.env.production
.env.development
.tmp-c
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Database
codequarry.db
codequarry.db-journal
export-db.js
export-railway-db.ps1
export-railway-db.sh
fix-and-import.sql
HEROKU_DEPLOYMENT.md
HEROKU_ENV_VARS.md
heroku_import_template.sql
HEROKU_QUICKSTART.md
railway_backup_1767685819299.sql
railway_backup.sql
railwayVar
